

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Merriweather', sans-serif;
}

h2 {
	font-size: 14pt;
}

p {
	font-size: 10pt;
}
